body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(173, 212, 212);
    margin-top: 15px;
    
}

#card {
    margin-left: auto;
}
