/* nav bar */
.right {
    float: right;
}

.left {
    float: left;
}

#nav {
    display: block;
    background-color: rgb(255, 242, 242);
    display: inline-block;
    width: 98vw;
    border: 1px dashed black;
    border-radius: 5px;
    margin: 10px
    
}

/* body */

.container {
    width: 800px;
    max-width: 80%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 2px;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    border: 3px solid;


}

body {
    font-family: 'Roboto Slab', arial;

    margin: 0%;
    background-color: #80ced1;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

#quizBody {
    text-align: center;
    padding: 12vh;
}

h4 {
    padding: 10px 8px 10px 8px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background-color:teal;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: rgb(208, 211, 171);
}

#quiz {
    text-align: center;
}